<div class="header">
  <nav>
    <a href="/html/">Hjem</a> |
    <a href="/css/">Om meg</a> |
    <a href="/js/">Prosjekter</a> |
    <a href="/jquery/">Kontakt</a>
  </nav>
</div>


<div class="main">
  <h2>i do many projects</h2>
</div>

<div clas="footer">
  <nav>
    <a href="/html/">LinkedIn</a> |
    <a href="/css/">Twitter</a> |

  </nav>
</div>
